/* add style */
@font-face {
  font-family: myFirstFont;
  src: url(./font/wak1026GX.ttf);
}

/* default */
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.con{
  width: 70%;
  margin: auto;
  position: relative;
}

header{
  padding: 50px 0 30px 0;
}

header .con{
  border-bottom: 1px solid black;
}

header h1{
  padding-bottom: 10px;
}

header p{
  color: gray;
  line-height: 1.5;
  padding-bottom: 20px;
}


.graphic-font-transition{
  transition: all 10s ease-in-out;
}
.graphic-font{
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50vw;
  top: 50vh;
  font-family: myFirstFont;
  font-size: 80rem;
  text-align: center;
  color: white;
  mix-blend-mode: difference;
}

.graphic{
  font-variation-settings: 'wght' 0, 'wdth' 0, 'ital' 0;
  /* transition: all 3s ease-in-out; */
}


/* admin */

.ic{
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.ic_setting{
  color: white;
  position: absolute;
  z-index: 100;
  right: 20px;
  top: 20px;
  /* opacity: 0; */
}
.ic_setting:hover{
  /* opacity: 1; */
}

.admin{
  background-color: white;
  display: inline-block;
  padding: 20px;
  height: 100vh;
  position: absolute;
  right: 0;
  transform: translateX(100%);
}

.admin_show{
  transform: translateX(0);
}

.admin h4{
  text-transform: capitalize;
  font-weight: 400;
  border-top: 1px solid rgb(177, 177, 177);
  padding-top: 20px;
  padding-bottom: 10px;
}

.admin ul{
  padding-bottom: 20px;
}

.admin h4:first-child{
  border-top: none;
}

.admin li{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.admin li p{
  margin-right: 20px;
}